<i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:finn@koenigsdisziplin.com">finn@koenigsdisziplin.com</a>
<br><i class="fa fa-telegram" aria-hidden="true"></i> <a href="https://t.me/Gluecksforscher">@Gluecksforscher</a>
<br><i class="fa fa-phone-square" aria-hidden="true"></i> <a href="tel:+4915141242849"> 0151 – 41 24 28 49</a>
<br><i class="fa fa-facebook-official" aria-hidden="true"></i> <a href="https://www.facebook.com/derGluecksforscher/">@derGluecksforscher</a>
<br><i class="fa fa-xing-square" aria-hidden="true"></i> <a href="https://www.xing.com/profile/FinnN_Koenig">FinnN_Koenig</a>
